$root-color: (
    primary: #0073c8,
    secondary: #ff8200,
    tertiary: #19b9d2,
    gray: #7d7d7d,
    pink: #e377c2,
    error: #ee0000,
);

$body-background-color: #FFF;
$sidebar-color: #FFF; 
$border-color: #eee;

$body-text-color: #555;
$body-heading-color:#222222;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: map-get($root-color, secondary);
$btn-primary-color: map-get($root-color, primary);
$base-button-color: map-get($root-color, primary);

$code-background-color: #EEE;
$search-background-color: rgba(255, 255, 255, 1);
$table-background-color: #F8F8F8;
$feedback-color: darken($sidebar-color, 3%);